#!/bin/bash

# source this and then vagrant up

export pool_id=8a85f9823e3d5e43013e3e0af2e60d59
export rhel_subscription_pool=8a85f9823e3d5e43013e3e0af2e60d59
export OPENSHIFT_DEPLOYMENT_TYPE=enterprise
export OPENSHIFT_NUM_NODES=0
